% import model
% import bottle
% rebase('Kalodont/views/base.html')


<div class="container has-text-centered">
    <div class="columns is-mobile is-centered">
        <div class="column is-two-thirds">
            <div class="notification">
                <p class="title is-4">Iščeš besedo, ki se začne na:</p>
                <p class="title is-1"> {{igra.zadnja()[-2:].upper()}}</p>
            </div>
            <div class="columns">
                <div class="column">
                    <p class="title is-2" style="margin-top:50px">Računalnik</p>
                    <div class="control">
                        <input class="input is-large is-hovered" type="text" value="{{igra.zadnja()}}" readonly>
                    </div>

                </div>
                <div class="column">
                    % if odziv == model.ZMAGA :

                    % bottle.redirect("/zmaga/")

                    % elif odziv == model.PORAZ :

                    % bottle.redirect("/poraz/")

                    % elif odziv == model.ZMAGAB :

                    % bottle.redirect("/zmagab/")

                    % elif odziv == model.NE_OBSTAJA :

                    <p class="title is-2" style="margin-top:50px">{{uporabnisko_ime.title()}}</p>
                    <form class="field has-addons" action="/igra/" method="post">
                        <input class="input is-large is-warning" type="text" name="beseda" autofocus
                            placeholder="Vnesi besedo">
                        <button class="button is-large is-warning" type="submit">Vnesi!</button>
                    </form>
                    <p class="help is-danger">Beseda "{{igra.geslo}}" ne obstaja!
                        Preveri, če si jo napisal pravilno in poskusi ponovno.</p>

                    % elif odziv == model.NI_USTREZNA :

                    <p class="title is-2" style="margin-top:50px">{{uporabnisko_ime.title()}}</p>
                    <form class="field has-addons" action="/igra/" method="post">
                        <input class="input is-large is-warning" type="text" name="beseda" autofocus
                            placeholder="Vnesi besedo">
                        <button class="button is-large is-warning" type="submit">Vnesi!</button>
                    </form>
                    <p class="help is-danger">Beseda "{{igra.geslo}}" se ne začne na zadnji dve črki prejšnje besede!
                    </p>

                    % elif odziv == model.ZE_UPORABLJENA :

                    <p class="title is-2" style="margin-top:50px">{{uporabnisko_ime.title()}}</p>
                    <form class="field has-addons" action="/igra/" method="post">
                        <input class="input is-large is-warning" type="text" name="beseda" autofocus
                            placeholder="Vnesi besedo">
                        <button class="button is-large is-warning" type="submit">Vnesi!</button>
                    </form>
                    <p class="help is-danger">Beseda "{{igra.geslo}}" je bila že enkrat uporabljena!</p>

                    % else:

                    <p class="title is-2" style="margin-top:50px">{{uporabnisko_ime.title()}}</p>
                    <form class="field has-addons" action="/igra/" method="post">
                        <input class="input is-large is-warning" type="text" name="beseda" autofocus
                            placeholder="Vnesi besedo">
                        <button class="button is-large is-warning" type="submit">Vnesi!</button>
                    </form>

                    % end

                    <form action='/osnovna/' method='get'>
                        <button class='button is-dark is-medium is-rounded is-hover' type='submit'
                            style="margin:20px"><b>Predaja</b></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="notification">
                <p class="title is-4">Že uporabljene besede:</p>
                <ul>
                    % for beseda in igra.uporabljene_besede:
                    <li class="subtitle is-5">{{beseda}}</li>
                    % end
                </ul>
            </div>
        </div>
    </div>
</div>