% rebase('Kalodont/views/base.html')

<div class="level-item has-text-centered">
    <figure>
        <img src="/img/kalodont.jpg">
    </figure>
</div>
<div class="level-item has-text-centered">
    <object class="box" width="800" style="margin: 20px;">
        <div class="content is-medium">
            <p>
                Kalodont je južnoslovanska besedna igra, kjer igralci
                zaporedoma izbirajo besede, katere se začnejo na zadnji
                črki prejšnje besede. Ime je dobila po
                jugoslovanskem proizvajalcu zobnih past Kalodont, saj v
                južnoslovanskih jezikih beseda, ki bi se začela na "<i>nt</i>", ne obstaja.
            </p>
        </div>
    </object>
</div>
<div class="level-item">
    <object class="notification" width="800" style="margin: 20px;">
        <div class="content">
            <h1>Navodila</h1>
            <p>Če igraš prvič, se moraš najprej <b>registrirati</b> s klikom na gumb <i>Registriraj se</i>
                v zgornji vrstici. Pazi, da tvoje uporabniško ime ne vsebuje šumnikov. V kolikor si že registriran, se <b>prijavi</b> s klikom na gumb <i>Prijavi se</i>.
                Če je uporabniško ime že zasedeno oz. tvoje uporabniško ime ne obstaja, te računalnik na to opozori.</p>
            <p>S pravili igre se seznaniš po registraciji oz. po prijavi.</p>
        </div>
    </object>
</div>